<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button href="/register" expand="block" color="primary">Registro</ion-button>
        <p class="divider line one-line">o ¿ya tiene un usuario?</p>
        <ion-button href="/login" expand="block" color="danger">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>